
:root {
    --std-component-color: #19882c;
    --std-component-font-color: #FFF;
    --std-main-background-color: #EEE;
    --std-detail-link-color: #19882b56;
    --std-sub-navbar-color: #336A3C;
    --std-underline-animation-color: #212529; 
    --std-button-hover-color: #4C4C4C;

    --std-links-background-color: #FFF;
    --std-links-font-color: #19882c;

    --hover-links-background-color: #19882c;
    --hover-links-font-color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    min-width: 300px;
    background-color: var(--std-main-background-color) !important;
}

main {
    padding-top: 80px;
    background-color: var(--std-main-background-color);
}

footer {
    margin-top: 50px;
    background-color: var(--std-component-color);
}

footer * {
    color: var(--std-component-font-color);
}

.navbar {
    background-color: var(--std-component-color);
}

.navbar-brand img {
    height: 3vw;
}

.dropdown-item:hover,
.detail-link:hover {
    background-color: var(--std-detail-link-color) !important;
}

.title-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 140% !important;
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--std-links-background-color) !important;
    border-color: var(--std-links-font-color) !important;
    color: var(--std-links-font-color) !important;
}

.btn-outline-light, .btn-outline-light:visited {
    background-color: var(--std-links-background-color) !important;
    border-color: var(--std-links-font-color) !important;
    color: var(--std-links-font-color) !important;
}

.btn-outline-light:hover, .btn-outline-light:active {
    background-color: var(--hover-links-background-color) !important;
    border-color: var(--hover-links-font-color) !important;
    color: var(--hover-links-font-color) !important;
}

.display-none {
    display: none;
}

.hide {
    visibility: hidden;
}

.img_banner {
    width: 100%;
}

.content-links {
    width: 220px;
}

.doc-links a {
    width: 200px;
}

.section-title {
    color: var(--std-underline-animation-color);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--std-underline-animation-color);
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--std-underline-animation-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#sub-navbar {
    background-color: var(--std-sub-navbar-color);
    font-size: 80%;
    height: 25px;
}

#search-btn, #dark-mode-btn {
    font-size: 0%;
}

#search-btn:hover,
#search-btn:active,
#dark-mode-btn:hover,
#dark-mode-btn:active {
    background-color: var(--std-button-hover-color) !important;
    color: var(--std-component-font-color) !important;
}

@media screen and (max-width: 991px) {
    main {
        padding-top: 120px;
    }

    .content-links {
        width: 100%;
    }

    #sub-navbar {
        height: 60px;
    }

    #sub-navbar #subNavbarSupportedContent {
        display: none !important;
    }
}

@media screen and (max-width: 300px) {
    main {
        padding-top: 100px;
    }
}